{
    "openapi": "3.0.0",
    "info": {
        "title": "Api documentation",
        "description": "Api documentation",
        "contact": {
            "email": "saguilarsanhuza@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.5"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Obtener una lista de ordenes",
                "operationId": "indexOrders",
                "responses": {
                    "200": {
                        "description": "Una lista de ordenes ordenadas de forma decente por el id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stores": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Crear una nueva orden",
                "operationId": "storeOrders",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "store_id",
                                    "delivery_type_id",
                                    "total_amount"
                                ],
                                "properties": {
                                    "store_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    },
                                    "delivery_type_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "total_amount": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "256300"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Mensaje de exito al crear la orden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Orden creada"
                                        },
                                        "orderNumber": {
                                            "type": "integer",
                                            "example": "1"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Mesaje de error en caso de que la tienda no es creada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error al crear la orden"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/{id}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Recupera una orden y sus productos asociados",
                "description": "Recupera una orden y sus productos asociados",
                "operationId": "showOrders",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "El ID de la orden",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Orden recuperada con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "store": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Orden no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Orden no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Obtener una lista de productos",
                "operationId": "indexProducts",
                "responses": {
                    "200": {
                        "description": "Una lista de tiendas de los productos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stores": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Products"
                ],
                "summary": "Actualizar un  producto",
                "operationId": "putProduct",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "product_name",
                                    "price",
                                    "old_price",
                                    "discount",
                                    "stock_product",
                                    "product_type_id"
                                ],
                                "properties": {
                                    "product_name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Bebida más jugo"
                                    },
                                    "price": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2500"
                                    },
                                    "discount": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "20"
                                    },
                                    "stock_product": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    },
                                    "product_type_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Mensaje de exito al editar el producto",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Producto editar"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Mesaje de error en caso de que el producto no es editado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error  editar producto"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Crear un nuevo producto",
                "operationId": "storeProduct",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "product_name",
                                    "price",
                                    "old_price",
                                    "discount",
                                    "stock_product",
                                    "product_type_id"
                                ],
                                "properties": {
                                    "product_name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Bebida más jugo"
                                    },
                                    "price": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2500"
                                    },
                                    "discount": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "20"
                                    },
                                    "stock_product": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    },
                                    "product_type_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Mensaje de exito al crear el producto",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Producto creado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Mesaje de error en caso de que el producto no es creada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error crear producto"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/validateForm": {
            "post": {
                "summary": "Validates a form",
                "operationId": "1afa3da20cdcb100982dd27bbf475aee",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "price",
                                    "discount",
                                    "stock_product",
                                    "product_type_id",
                                    "store_id"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 150
                                    },
                                    "price": {
                                        "type": "number"
                                    },
                                    "discount": {
                                        "type": "number"
                                    },
                                    "stock_product": {
                                        "type": "number"
                                    },
                                    "product_type_id": {
                                        "type": "number"
                                    },
                                    "store_id": {
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Validación exitosa"
                    },
                    "400": {
                        "description": "Validación fallida",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Mesaje de error",
                                            "type": "string"
                                        },
                                        "errors": {
                                            "description": "Lista de erorres de la validacion",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "field": {
                                                        "description": "Campo que falló la validación",
                                                        "type": "string"
                                                    },
                                                    "rule": {
                                                        "description": "Regla de validación que falló",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products/{id}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Recupera un producto",
                "description": "Recupera un producto",
                "operationId": "showProduct",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "El ID del producto",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Producto recuperada con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "product": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Producto no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Producto no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Products"
                ],
                "summary": "Eliminar un producto",
                "operationId": "destroyProduct",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "El ID del producto",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Mesaje de producto eliminado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Prducto eliminado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Mesanje de error al eliminar el producto",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error al eliminar producto"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/shopping-cart": {
            "get": {
                "tags": [
                    "ShoppingCart"
                ],
                "summary": "Obtiene los productos del carrito de compras",
                "operationId": "indexShoppingCart",
                "parameters": [
                    {
                        "name": "store_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "product_shopping_cart": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "product_id": {
                                                        "type": "integer"
                                                    },
                                                    "total_product": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "post": {
                "tags": [
                    "ShoppingCart"
                ],
                "summary": "Agrega un producto al carrito de compras",
                "operationId": "storeShoppingCart",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "product_id",
                                    "store_id"
                                ],
                                "properties": {
                                    "product_id": {
                                        "type": "integer"
                                    },
                                    "store_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Mensaje de exito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Mensaje de error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/shopping/total-products/{store_id}": {
            "get": {
                "summary": "Obtiene el número total de productos en el carrito de comprast",
                "operationId": "64c0290c4d2c8a21b81813ca6329c142",
                "parameters": [
                    {
                        "name": "store_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_products": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/stores": {
            "get": {
                "tags": [
                    "Stores"
                ],
                "summary": "Obtener una lista de tiendas",
                "operationId": "index",
                "responses": {
                    "200": {
                        "description": "Una lista de tiendas con la cantidad de productos de cada tienda",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stores": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/store": {
            "post": {
                "tags": [
                    "Stores"
                ],
                "summary": "Crear una nueva tienda",
                "operationId": "store",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "image_store",
                                    "direction",
                                    "delivery_type_id",
                                    "actual_price",
                                    "old_price",
                                    "opening_hours",
                                    "closing_time",
                                    "logo_store"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Oxxo"
                                    },
                                    "image_store": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "/storage/images/image.jpg"
                                    },
                                    "direction": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "av los toros"
                                    },
                                    "delivery_type_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "actual_price": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "25000"
                                    },
                                    "old_price": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "25000"
                                    },
                                    "opening_hours": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "9:00"
                                    },
                                    "closing_time": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "21:00"
                                    },
                                    "logo_store": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "/storage/images/image.jpg"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Mensaje de exito al crear la tienda",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Tienda creada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Mesaje de error en caso de que la tienda no es creada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error al crear tienda"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/upload-file": {
            "post": {
                "tags": [
                    "Stores"
                ],
                "summary": "Cargar imagenes de la tienda",
                "operationId": "uploadFile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "retornamos la url del archivo cargado"
                    }
                }
            }
        },
        "/store/{store}": {
            "get": {
                "tags": [
                    "Stores"
                ],
                "summary": "Recupera una tienda y sus productos",
                "description": "Recupera una tienda y sus productos",
                "operationId": "show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "El ID de la tienda",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tienda recuperada con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "store": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tienda no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Tienda no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Stores"
                ],
                "summary": "Actualizar tiendas",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "store",
                        "in": "path",
                        "description": "El ID de la tienda",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "image_store",
                                    "direction",
                                    "delivery_type_id",
                                    "actual_price",
                                    "old_price",
                                    "opening_hours",
                                    "closing_time",
                                    "logo_store"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Oxxo"
                                    },
                                    "image_store": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "/storage/images/image.jpg"
                                    },
                                    "direction": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "av los toros"
                                    },
                                    "delivery_type_id": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "actual_price": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "25000"
                                    },
                                    "old_price": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "25000"
                                    },
                                    "opening_hours": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "9:00"
                                    },
                                    "closing_time": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "21:00"
                                    },
                                    "logo_store": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "/storage/images/image.jpg"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tienda actualizada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Tienda editada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al actualizar tienda",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error al editar tienda"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Stores"
                ],
                "summary": "Eliminar una tienda",
                "operationId": "destroy",
                "parameters": [
                    {
                        "name": "store",
                        "in": "path",
                        "description": "El ID de la tienda",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Tienda eliminada con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Tienda eliminada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al eliminar la tienda",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error al eliminar tienda"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}